/* ----- Media query  ----- */
/* @media (min-width: 475px) {}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {} */

.border {
    border: 1px solid red;
}

.hidden {
    display: none;
}

/* Styles par défaut : Smartphones (portrait) */
.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.02em;
    background-color: var(--clr-orange);
    color: var(--clr-light);
    padding: .5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(234, 88, 12, .5),
        0 6px 6px rgba(234, 88, 12, .6),
        0 0 100px -10px var(--clr-orange);
    transition: all .3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(234, 88, 12, .25),
        0 10px 10px rgba(234, 88, 12, .4),
        0 0 120px -10px var(--clr-orange);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

.section {
    padding-top: 4rem;
}

.utils__text-box h1 {
    background-image: linear-gradient(to right,
            rgb(123, 231, 40),
            #f3265f,
            #4ade80,
            #7f40ac,
            #7be728,
            #84cc16);
    background-size: 200% auto;
    animation: gradientAnimation 5s linear infinite;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}

@keyframes gradientAnimation {
    to {
        background-position: 200% center;
    }
}

.utils__animation__wiggle {
    animation: wiggle 2s linear infinite;
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

/* ----- Media query  ----- */
/* xS - Tablettes or Smartphones (paysages) */
@media (min-width: 475px) {
    body {
        font-size: 16px;
    }

    .container {
        max-width: 475px;
    }
}

/* Sm - Tablettes (paysages)  */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md - Grandes Tablettes */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Lg - Ordinateurs portables / petits écrans de bureau */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .section {
        padding-top: 6rem;
    }
}

/* xL - Petits écrans de bureau */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xL - Grands écrans de bureau */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}