.contact__container {
    margin-bottom: 8rem;
    position: relative;
    min-height: 600px;
}

.contact__title {
    color: var(--clr-light);
    text-align: center;
    font-family: "Ephesis", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--size-4xl);
    position: relative;
    margin-bottom: 2rem;
}

.contact__hook {
    font-size: var(--size-sm);
    color: var(--clr-yellow);
    font-weight: 200;
    letter-spacing: 1.4px;
    padding: .8rem;
    margin-bottom: .4rem;
    text-align: justify;
}

.contact_style-wrapper {
    position: relative;
}

.contact__style {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 14vh;
    /* --clr-purple */
    background-color: rgba(147, 51, 234, .3);
}

.contact__syle-form {
    display: flex;
    position: absolute;
    top: 20px;
    left: 16px;
    min-width: 320px;
    backdrop-filter: blur(20px);
    box-shadow: 4px 4px 15px var(--clr-slate200);
    font-size: var(--size-sm);
    border-radius: 6px;
}

.contact__contact-form {
    margin: 1rem;
    padding: 1rem .4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__name,
.contact__mail,
.contact__message,
.contact__send-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: var(--clr-light);
    margin: .6rem;
}

.contact__contact-input::placeholder {
    color: var(--clr-slate400);
}

.contact__contact-input,
.contact__send-input {
    font-size: var(--size-sm);
    padding: .4rem;
    background: rgba(147, 51, 234, .08);
    color: var(--clr-light);
    border: none;
    box-shadow: inset -1px -1px 0 rgba(147, 51, 234, .5),
        inset -2px -2px 0 rgba(147, 51, 234, .5),
        inset -2px -3px 0px rgba(147, 51, 234, .5);
    border-radius: 4px;
}

.contact__contact-input:focus {
    outline: none;
    box-shadow: 1px 1px 15px var(--clr-sky);
}

.contact__send-input {
    background: linear-gradient(to right, rgba(147, 51, 234, .1) 0%, var(--clr-purple) 60%, rgba(147, 51, 234, .1) 100%);
}

.contact__send-input:active,
.contact__send-input:focus {
    background: linear-gradient(to right, rgba(147, 51, 234, .8) 0%, var(--clr-dark) 60%, rgba(147, 51, 234, .8) 100%);
    box-shadow: 2px 3px 20px rgba(147, 51, 234, .8);
}

/* ----- Media query  ----- */
@media (min-width: 475px) {
    .contact__container {
        min-height: 800px;
    }

    .contact__title {
        font-size: var(--size-5xl);
        margin-bottom: 2.4rem;
        margin-top: 4rem;
    }

    .contact__hook {
        font-size: var(--size-base);
        padding: 1.2rem;
        margin-bottom: .6rem;
    }

    .contact__style {
        top: 100px;
        height: 16vh;
    }

    .contact__syle-form {
        top: 40px;
        left: 50px;
        min-width: 360px;
        font-size: var(--size-base);
    }

    .contact__contact-form {
        margin: 1.2rem;
    }

    .contact__contact-input,
    .contact__send-input {
        font-size: var(--size-base);
        padding: .6rem;
    }
}

@media (min-width: 640px) {
    .contact__container {
        min-height: 1000px;
    }

    .contact__title {
        font-size: var(--size-6xl);
        margin-bottom: 3rem;
    }

    .contact__hook {
        font-size: var(--size-lg);
        padding: 1.4rem;
        margin-bottom: 1rem;
    }

    .contact__style {
        top: 140px;
        height: 18vh;
    }

    .contact__syle-form {
        left: 100px;
        font-size: var(--size-lg);
    }

    .contact__contact-form {
        padding: 1rem .4rem;
    }

    .contact__name,
    .contact__mail,
    .contact__message,
    .contact__send-input {
        margin: 1rem;
    }

    .contact__contact-input,
    .contact__send-input {
        font-size: var(--size-lg);
        padding: 1rem;
    }
}

@media (min-width: 768px) {
    .contact__title {
        font-size: var(--size-7xl);
    }

    .contact__hook {
        font-size: var(--size-xl);
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .contact__container {
        min-height: 1200px;
    }

    .contact__title {
        font-size: var(--size-8xl);
    }

    .contact__hook {
        font-size: var(--size-2xl);
        padding: 1.8rem;
    }

    .contact__style {
        height: 22vh;
    }

    .contact__syle-form {
        font-size: var(--size-xl);
    }

    .contact__contact-input,
    .contact__send-input {
        font-size: var(--size-xl);
        padding: 1.5rem;
    }
}

@media (min-width: 1280px) {
    .contact__syle-form {
        left: 25%;
    }
}

@media (min-width: 1536px) {}